<!doctype html>
<html>
<head>
	<meta name="robots" content="noindex">
	<title>QRPass</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div class="md-modal md-effect" id="modal-1">
		<div class="md-content">
            <button class="md-close" onclick="hideModal()">&#xea0f;</button>
			<button id="copy-button-userName">Copy username to Clipboard</button><br>
			<button id="copy-button-password">Copy password to Clipboard</button><br>
		</div>
	</div>

    <div class="md-modal md-effect" id="modal-2">
        <div class="md-content">
            <h1>About</h1>

            <p>The application works as KeePass2Android plugin and allows user to send credentials securely
                between KeePass2Android and browser using QRCode and server assistance as medium for exchanging
                encryption secrets and encrypted data</p>

            <p>All communication is secured with RSA encryption and random generated secure key exchanged by QR Code.
                There are plans to switch RSA with some asymmetric encryption algorithm to hinder
                MiTM (Man in The Middle) attacks</p>

            
            <em>The app is still in early alpha/development stage, so please forgive any inconveniences in usage.</em>
            <button class="md-close" onclick="hideModal(2)">&#xea0f;</button>
        </div>
    </div>
    <div class="md-modal md-effect" id="modal-3">
        <div class="md-content">
            <button class="md-close" onclick="hideModal(3)">&#xea0f;</button>
            <h1>Quick start</h1>
            <ol>
                <li>
                    Download and install <a href="/apk/android.apk">APK</a>
                </li>
                <li>Enable plugin in KeePass2Android settings.</li>
                <li>Open some user credentials entry in KeePass2Android and select to use it with QRPass in menu</li>
                <li>Scan QRCode from this page</li>
                <li>You should receive username and password in your browser</li>
            </ol>
        </div>
    </div>
    <div class="md-modal md-effect" id="modal-4">
        <div class="md-content">
            <button class="md-close" onclick="hideModal(4)">&#xea0f;</button>
            <h1>Download</h1>
            <p>At the moment application is not officially published so please use direct link:</p>
            <a href="/apk/android.apk">Android apk</a>
        </div>
    </div>
    <div class="md-modal md-effect" id="modal-5">
        <div class="md-content">
            <button class="md-close" onclick="hideModal(5)">&#xea0f;</button>
        <h1>Special thanks to:</h1>
            <ul>
                <li><a href="https://code.google.com/p/crypto-js/">CryptoJS</a> - for cryptographic library</li>
                <li><a href="https://code.google.com/p/zeroclipboard/">ZeroClipboard</a> - for copy/paste flash library</li>
                <li><a href="https://nodejs.org/">Nods.js</a> - for server-side awesomeness</li>
                <li><a href="http://expressjs.com/">Express.js</a> - for easy HTTP serving</li>
                <li><a href="http://socket.io/">Socket.IO</a> - for websocket abstraction</li>
                <li><a href="https://icomoon.io/">IcoMoon</a> - for icon-font manager and fonts library</li>
                <li><a href="https://github.com/davidshimjs/qrcodejs">davidshimjs</a> - for qrcode JavScript library</li>
            </ul>
        </div>
    </div>



    <div class="md-overlay"></div>

    <div id="menu">
        <ul class="menu_list">
            <li class="menu_el"><a onclick="showModal(2)">ABOUT</a></li>
            <li class="menu_el"><a onclick="showModal(3)">QUICK START</a></li>
            <li class="menu_el"><a onclick="showModal(4)">DOWNLOAD</a></li>
            <li class="menu_el"><a onclick="showModal(5)">THANKS</a></li>
        </ul>
    </div>

    <div class="container" id="container">
		<div class="qrcode-wrap">
			<div class="qrcode qrcode-hide" id="qrcode">
                <!--<button class="help_btn" onclick="showModal(2)">?</button>-->
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/scripts/aes.js"></script>
	<script type="text/javascript" src="/scripts/enc-base64.js"></script>
	<script type="text/javascript" src="/scripts/pbkdf2.js"></script>
	<script type="text/javascript" src="/scripts/qrcode.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/ZeroClipboard.js"></script>
	<script type="text/javascript" src="scripts/qrpass.js"></script>
</body>
</html>
