body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
/* animation */
.ch-info-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -128px 0 0 -128px;
	width: 256px;
	height: 256px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition:    all 0.6s ease-in-out;
	-o-transition:      all 0.6s ease-in-out;
	transition:         all 0.6s ease-in-out;

	perspective: 800px;
/*	background: #f9f9f9; tak samo jak tło!*/
}
.ch-info {
	position: absolute;
	width: 256px;
	height: 256px;
	box-shadow: 0 0 20px #888;
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
	transition:         all 0.6s ease;
	-webkit-transform: rotate3d(0,0,1,45deg);
	-moz-transform:    rotate3d(0,0,1,45deg);
	-ms-transform:     rotate3d(0,0,1,45deg);
	-o-transform:      rotate3d(0,0,1,45deg);
	transform:         rotate3d(0,0,1,45deg);
}
.ch-info-hide {
	-webkit-transform: scale(0.001) rotate3d(0,0,1,-45deg);
	-moz-transform:    scale(0.001) rotate3d(0,0,1,-45deg);
	-ms-transform:     scale(0.001) rotate3d(0,0,1,-45deg);
	-o-transform:      scale(0.001) rotate3d(0,0,1,-45deg);
	transform:         scale(0.001) rotate3d(0,0,1,-45deg);
}
